/*************************************************
 General
**************************************************/
body {
	background-image: url("../img/main-bg.png");
	font-size: 16px;
}

#content {
	position: relative;
	line-height: 26px;
}

form {
	margin: 0;
}

.page-center {
	width: 90%;
	margin: auto;
}

.page-content {
	margin-top: 20px;
}

.btn {
	border-radius: 2px;
	background-image: none;
	box-shadow: none;
	border-color: #b3b3b3;
	transition: background-color 0.5s;
	text-shadow: none;
}

.btn.btn-primary {
	border-color: #EF0443;
	background-color: #EF0443;
}

.btn.btn-primary:hover {
	border-color: #CC0036;
	background-color: #CC0036;
}

.btn:hover, .btn-primary:hover {
	transition: background-color 0.5s;
}

img {
	border-radius: 3px;
}

/*************************************************
 Navbar
**************************************************/
.navbar-inner .brand {
	font-size: 1.25em;
}

.navbar .navbar-inner .nav > li.active > a {
	color: white;
	outline: none;
	text-shadow: none;
	background-color: #EF0443;
}

.navbar .nav > li > a, .navbar-inner .brand {
	transition: color 0.5s;
}

.navbar .navbar-inner {
	border-color: #EF0443;
	border-bottom-width: 2px;
	background-image: none;
}

.navbar .nav > li > a:hover, .navbar-inner .brand:hover {
	transition: color 0.5s;
}

.navbar .dropdown-menu {
	padding: 10px;
}

.notice-panel {
	display: none;
	margin-bottom: 0px;
}

#signout-btn, .signin-container {
	display: none;
}

.dropdown-menu form {
	padding-bottom: 20px;
}

/*************************************************
 Home Banner
**************************************************/
.home-banner-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.home-hero {
	text-align: center;
	padding-top: 20px;
}

.home-hero h1, .home-hero h2 {
	font-size: 36pt;
	font-family: "Andika";
	color: white;
	text-shadow: 1px 1px black;
}

.dotted-overlay {
	background: transparent url("../img/dotted-pattern.png") repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#splash-carousel, #splash-carousel .carousel-inner {
	height: 400px;
}

.home-hero .btn {
	opacity: 0.5;
	transition: opacity 0.5s;
	margin: 10px 4px;
	font-family: "Arvo";
	width: 160px;
	color: #1B1B1B;
}

.home-hero .btn:hover {
	opacity: 0.85;
}



/*************************************************
 Homepage under banner
**************************************************/
.hero-unit {
	border-radius: 3px;
	box-shadow: 1px 1px 5px 0px #1B1B1B;
	background-color: white;
}

.home-content .span4 {
	padding: 60px;
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
}

.home-content .span4 h2 {
	font-size: 60px;
	text-align: center;
	margin-bottom: 20px;
}

/*************************************************
 About page
**************************************************/

.social-media-container {
	margin-top: 40px;
}


/*************************************************
 Browse page/Dish view
**************************************************/
#browse-container .row-fluid, #browse-container .row {
	margin-bottom: 20px;
}

#browse-container li {
	list-style: none;
}

#browse-container li.thumbnail {
	margin-left: 0px;
	margin-right: 15px;
	display: inline-block;
	border: none;
	box-shadow: none;
}

.dish-item {
	width: 282px;
	height: 305px;
	position: relative;
	border: 1px solid #25383C;
	border-radius: 3px;
	margin-right: 5px;
	text-align: center;
	background-color: #e8e8e8;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	
	font-family: Arial;
	font-size: 14px;
	line-height: 14px;
}

.dish-item img {
	max-width: 280px;
	max-height: 210px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.dish-item-name {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

/*************************************************
 Edit page
**************************************************/

.edit-form legend {
	font-family: "Andika";
}

.control-group.error .help-inline,
.control-group.error label.control-label {
	color: red;
}

.help-inline {
	display: inline;
	padding-left: 0;
}

.control-group.error .controls input {
	border-color: red;
}

.upload-image input[type="file"] {
	visibility: hidden;
}

.upload-image img {
	/* height: 270px; */
	/* width: 360px; */
	background-color: gray;
}

#map-content {
	height: 320px;
}
