<div class="about-content page-content page-center">
	<div class="row-fluid">
		<div class="span9">
			<h2>About</h2>
			<p>
				FoodChoice is an online application that allows for you to explore new dishes and food places. It allows you to create or view reviews for various food dishes. FoodChoice also has the capability for you to connect with friends so that you can see what your friends enjoy eating. FoodChoice aims to do this by providing a easy to use, and responsive user interface that will organization and neatly display entries for the user to see. 
			</p>
			<h2>Developers/Sponsors</h2>
			<p>
				FoodChoice is sponsored by The People's Food corporation. Our team consists of two people at the moment. The lead developer for this project is Ricky Kwan, a young up-and-coming talent for programming. The other member, John Smith, handles the business side of things. We're always looking for talented individuals to help us create a robust and top-notch application that rivals other similar apps. If you are interested in a job opportunity here at FoodChoice, or if you want to consider sponsoring us, please send us an email at the address located to the right. 
			</p>
		</div>
		<div class="span3">
			<h2>Contact</h2>
			<p>Questions? Concerns? Give us a call or email us using the following details.</p>
			<p>1265 Military Trail, Toronto, Ontario</p>
			<p>Phone: 647-123-1234</p>
			<p>Email: <a href="mailto:support@foodchoice.com">support@foodchoice.com</a></p>
			<div class="social-media-container row-fluid">
				<div class="span4">
					<a href="http://facebook.com"><img src="img/facebook.png" /></a>
				</div>
				<div class="span4">
					<a href="http://plus.google.com"><img src="img/google.png" /></a>
				</div>
				<div class="span4">
					<a href="http://twitter.com"><img src="img/twitter.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
