<div class="dish-item">
	<img src="<%- image + "_240.jpg" %>" />
	<div class="dish-item-name"><%- name %></div>
	<div>Served by: <%- venue %></div>
	<div>Info: <%- info %></div>
	<div><%- url != "" ? url : "URL unavailable" %></div>
	<div>(<%- numbr %> <%- street %>, <%- city %>)</div>
</div>