<div class="page-center page-content">
  <div class="row-fluid">

	<form class="form-horizontal span12" enctype="multipart/form-data">

	  <!-- ADD YOUR CODE HERE -->
	  <div class="row-fluid">
		<div class="span3">
			<button id="edit-save" class="btn btn-primary">Save</button>
			<button id="edit-delete" class="btn">Delete</button>
		</div>
	  </div>

	  <fieldset class="edit-form">
		<legend>Dish Details</legend>

		<div class="row-fluid">
		  <div class="span7">
  	  <!-- ADD YOUR CODE HERE -->
			<div class="control-group">
			  <label for="name" class="control-label">Dish Name</label>
			  <div class="controls controls-row">
				<input type="text" id="name" name="name" class="span4" value="<%- name %>"/>
				  <span class="help-inline span8"> </span>
			  </div>
			</div>

			<div class="control-group">
			  <label for="venue" class="control-label">Served By</label>
			  <div class="controls controls-row">
				<input type="text" id="venue" name="venue" class="span4" value="<%- venue %>"/>
				<span class="help-inline span8"> </span>
			  </div>
			</div>

			<div class="control-group">
			  <label for="info" class="control-label">Dish Venue Info</label>
			  <div class="controls controls-row">
				<input type="text" id="info" name="info" class="span6" value="<%- info %>"/>
				  <span class="help-inline span6"> </span>
			  </div>
			</div>
			
			<div class="control-group">
			  <label for="url" class="control-label">Website URL</label>
			  <div class="controls controls-row">
				<input type="text" id="url" name="url" class="span5" value="<%- url %>"/>
				  <span class="help-inline span7"> </span>
			  </div>
			</div>

			<div class="control-group">
			  <label for="numbr" class="control-label">Street Number</label>
			  <div class="controls controls-row">
				<input type="text" id="numbr" name="numbr" class="span2" value="<%- numbr %>"/>
				  <span class="help-inline span10"> </span>
			  </div>
			</div>
			
			<div class="control-group">
			  <label for="street" class="control-label">Street Name</label>
			  <div class="controls controls-row">
				<input type="text" id="street" name="street" class="span5" value="<%- street %>"/>
				  <span class="help-inline span7"> </span>
			  </div>
			</div>

			<div class="control-group">
			  <label for="city" class="control-label">City</label>
			  <div class="controls controls-row">
				<input type="text" id="city" name="city" class="span4" value="<%- city %>"/>
				  <span class="help-inline span8"> </span>
			  </div>
			</div>

			<div class="control-group">
			  <label for="province" class="control-label">Province</label>
			  <div class="controls controls-row">
				<input type="text" id="province" name="province" class="span2" value="<%- province %>"/>
				  <span class="help-inline span10"> </span>
			  </div>
			</div>
		  </div> <!-- span7 main input panel -->
		  
		  <div class="span5">
			<div class="upload-image">
				<img src="<%- image + "_360.jpg" %>" />
				<div>
					Drag and drop photo onto the above image, or <br>
					<button class="btn btn-primary">Snap Photo / Choose File</button>
					<input type="file" name="file" accept="image/*" capture="camera">
				</div>
			</div>
		  </div>
		</div> <!-- row -->
		
		<div class="row-fluid">
			<div class="span6">
				<button id="use-location-btn" class="btn btn-primary">Use My Location</button>
			</div>
		</div>
		<div class="row-fluid">
			<div id="map-container" class="span6"></div>
		</div>
	  </fieldset>

	</form>

  </div> <!-- row-fluid -->
</div>
