<div class="navbar-inner header-hero">
	<div class="navbar-header">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
	</div>
	
	<div class="navbar-content page-center">
		<a class="brand" href="#">FoodChoice</a>
		<div class="collapse nav-collapse">
			<ul class="nav">
				<li id="menu-item-browse"><a href="#dishes">Browse Dishes</a></li>
				<li id="menu-item-add"><a href="#dishes/add">Add Dish</a></li>
			</ul>
			<ul class="nav pull-right">

				<li id="menu-item-sort" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li>Sort by:</li>
						<li class="divider"></li>
						<li>
							<input type="radio" name="sort-by" value="name" checked/>
							<label class="radio inline control-label">Name</label>
						</li>
						<li>
							<input type="radio" name="sort-by" value="venue"/>
							<label class="radio inline control-label">Venue</label>
						</li>
					</ul>
				</li>

				<li id="signup-dropdown" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign Up <b class="caret"></b></a>
					<div class="dropdown-menu">
						<form accept-charset="UTF-8"> 
							<div class="control-group">
								<div class="controls">
									<input id="username-signup" type="text" name="username" placeholder="Username"/>
								</div>
								<span class="help-inline"></span>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<input id="email-signup" type="text" name="email" placeholder="Email"/>
								</div>
								<span class="help-inline"></span>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<input id="password-signup" type="password" name="password" placeholder="Password"/>
								</div>
								<span class="help-inline"></span>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<input id="password-signup2" type="password" name="password2" placeholder="Re-Type Password"/>
								</div>
								<span class="help-inline"></span>
							</div>
							
							<div class="divider"></div>
							<a id="signup-btn" class="btn btn-primary">Sign Up</a>
						</form>
					</div>
				</li>

				<li id="signin-dropdown" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign In <b class="caret"></b></a>
					<div class="dropdown-menu">
						<form accept-charset="UTF-8">
							<div class="control-group">
								<div class="controls">
									<input id="username-signin" type="text" name="username" placeholder="Username"/>
								</div>
								<span class="help-inline"></span>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<input id="password-signin" type="password" name="password" placeholder="Password"/>
								</div>
								<span class="help-inline"></span>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<input type="checkbox" id="remember-me-signin" name="remember-me" /><label class="checkbox inline control-label">Remember Me</label><br>
								</div>
							</div>
							
							<div class="signin-container"></div>
							
							<div class="divider"></div>
							<a id="signin-btn" class="btn btn-primary">Sign In</a>
							<a id="signout-btn" class="btn btn-primary">Sign Out</a>
						</form>
					</div>
				</li>

				<li id="menu-item-about"><a href="#about">About</a></li> 
			</ul>
		</div>
	</div>

</div>

<div class="notice-panel alert">
</div>
