<div class="home-banner row-fluid">
	<div id="splash-carousel" class="carousel slide span12">
		<div class="carousel-inner">
			<div class="item active"><img src="img/splash1.jpg" /></div>
			<div class="item"><img src="img/splash2.jpg" /></div>
			<div class="item"><img src="img/splash3.jpg" /></div>
		</div>
		<div class="dotted-overlay"></div>
	</div>
</div>
<div class="home-banner-header row-fluid">
	<div class="home-hero page-center span12">
		<div class="row">
			<h1 class="span12">FoodChoice Home</h1>
		</div>
		<div class="row">
			<h2 class="span12">Find great dishes<br/>
			See what friends are eating<br/>
			Locate nearby restaurants</h2>
		</div>
		<div class="row">
			<div class="span2 offset4">
				<a href="#dishes" class="btn btn-large"><i class="icon-book"></i> Browse Dishes</a>
			</div>
			<div class="span2">
				<a href="#dishes/add" class="btn btn-large"><i class="icon-plus-sign"></i> Add Dish</a>
			</div>
		</div>
	</div>
</div>
<div class="home-content page-content page-center row-fluid">
	<div class="span4">
		<h2>Discover</h2>
		<p>
			Find great dishes. Discover new and interesting dishes that you've never tried before. See what is popular, and what dishes are most talked about. Rate foods that you like so that your friends can discover and enjoy them too. 
		</p>
	</div>
	<div class="span4">
		<h2>Connect</h2>
		<p>
			See what friends are eating. You receive recommendations and reviews from your friends rather than strangers. What's more, you can let them know what you enjoy eating by rating dishes and sharing the results with them as well. 
		</p>
	</div>
	<div class="span4">
		<h2>Explore</h2>
		<p>
			Locate nearby restaurants. Everyone has a place they like to eat at. Let others discover your favourite food place while discovering theirs, too. Explore and find new restaurants. Who knows? It may soon to be your new favourite place.
		</p>
	</div>
</div>
